# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local

# Server Data & Uploads
server/data/*.db
server/data/*.db-journal
server/data/*.db-wal
server/data/*.db-shm
server/data/uploads/*
!server/data/uploads/.gitkeep

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# IDE & OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
*.lock
